.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#262637;
    color:#FFFFFF;
    z-index:10;
    font-size:1rem;
    text-align: center;
    padding:0.625rem;
}

.footer .message{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer.icon{
 margin-right:0.5rem ;   
 color: #2CDEB6;
}

.footer .status{
 font-weight: bold;   
}

.footer .status .open{
    color: #2CDEB6;

}

.footer .status.close{
    color: #DC3545;
}