.property-attribute{
    /* Center the text */
    text-align: center;
    /* Adding spaces around the text */
    padding: 0 0.625rem;
    /* font size of the text */
    font-size: 1rem; /* 16px */ 
    /* set the line height for better readability  */
    line-height: 1.4;

}

p{
    margin:0.312rem; /*5px */
}