.property-list{
    /* Use flexbox property */
    display: flex;
    /* Allow wrapping of items to new rows */
    flex-wrap: wrap;
    /* Center the items horizontal */
    justify-content: center;
    /* Add space between items */
    gap: 1.25rem; /* 20px = 1.25rem */
    /* Add padding inside the list */
    padding: 1.25rem;  /* 20px = 1.25rem */
}